div[class="card"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    width: 402px;
    border: 2px solid black;
}

div[class="card-header"] {
    text-align: center;
    color: rgba(255, 255, 255, 0.893);
}

