div[class="card"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    width: 402px;
    border: 2px solid black;
    padding: 2px;
}

div[class="weather-header"] {
    text-align: center;
    color: rgb(247, 247, 247);
    background-image: linear-gradient(to right,rgb(37, 117, 255),rgb(82, 186, 218),rgb(37, 117, 255));
    width: 100%;
}

div[class="forecast-header"] {
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right,rgb(255, 102, 0),rgb(255, 102, 0),rgb(255, 102, 0));
    width: 100%;
}

div[class="weather-footer"] {
    font-variant: small-caps;
    font-size: 10px;
    background-image: linear-gradient(to right,rgb(235, 235, 235),rgb(216, 216, 216),rgb(235, 235, 235));

}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 5px;
  }

#icon {
    width: 44%;
}